@charset "utf-8";
body{
	padding: 0;
	margin: 0;
}

.heading{
	width: 900px;
	height: 400px;
	margin: 100px auto;	
	font-family: arial;
	font-size: 2em;
	text-transform: uppercase;	
	color: #DEE1E6;
}

.banner{
	width: 1200px;
	height: 612px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	position: relative;
	top: -198px;
}
.viganPic{
	width: 1200px;
	height: 680px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position:relative;
	top: 50;
}
.viganH{
	width: 900px;
	height: 400px;
	margin: 100px auto;	
	font-family: arial;
	font-size: 2em;
	text-transform: uppercase;	
	color: #DEE1E6;

}
.viganT{
	width: 1300px;
	height: 700px;
	margin-left: -50px;
	font-family: arial;
	font-size: 2em;
	color: #DEE1E6;
	position: relative;
	font-stretch: expanded;
	top: -400px;
}
.mayonPic{
	width: 1200px;
	height: 680px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position:relative;
	margin-top: -800px;
}
.mayonH{
	width: 1200px;
	height: 765px;
	margin: 100px auto;	
	font-family: arial;
	font-size: 2em;
	text-transform: uppercase;	
	color: #DEE1E6;
	
}
.mayonT{
	width: 900px;
	height: 600px;
	margin-left: 50px;
	font-family: arial;
	font-size: 2em;
	color: #DEE1E6;
	position: relative;
	font-stretch: expanded;
	top: -790px;
}
.taalPic{
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-top: -800px;
}
.taalH{
	width: 1200px;
	height: 765px;
	margin: 100px auto;	
	font-family: arial;
	font-size: 2em;
	text-transform: uppercase;	
	color: #DEE1E6;
	
}
.taalT{
	width: 1000px;
	height: 400px;
	margin-left: 50px;
	font-family: arial;
	font-size: 2em;
	color: #DEE1E6;
	position: relative;
	font-stretch: expanded;
	top: -790px;
}
.coronPic{
	width: 1200px;
	height: 680px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-top: -700px;
}
.coronH{
	width: 1200px;
	height: 765px;
	margin: 100px auto;	
	font-family: arial;
	font-size: 2em;
	text-transform: uppercase;	
	color: #DEE1E6;	
}
.coronT{
	width: 1000px;
	height: 400px;
	margin-left: auto;
	font-family: arial;
	font-size: 2em;
	color: #DEE1E6;
	position: relative;
	font-stretch: expanded;
	top: -790px;
}
.camiguinPic{
	width: 1200px;
	height: 680px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-top: -550px;
}
.camiguinH{
	width: 1200px;
	height: 765px;
	margin: 100px auto;	
	margin-left: auto;
	font-family: arial;
	font-size: 2em;
	text-transform: uppercase;	
	color: #DEE1E6;	
}
.camiguinT{
	width: 1200px;
	height: 400px;
	margin-left: auto;
	font-family: arial;
	font-size: 2em;
	color: #DEE1E6;
	position: relative;
	font-stretch: expanded;
	top: -790px;
}
.chocoPic{
	width: 1200px;
	height: 680px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-top: -890px;
}
.chocoH{
	width: 1200px;
	height: 765px;
	margin: 100px auto;	
	margin-left: auto;
	font-family: arial;
	font-size: 2em;
	text-transform: uppercase;	
	color: #DEE1E6;	
}
.chocoT{
	width: 1200px;
	height: 400px;
	margin-left: auto;
	font-family: arial;
	font-size: 2em;
	color: #DEE1E6;
	position: relative;
	font-stretch: expanded;
	top: -790px;
}
.riverPic{
	width: 1200px;
	height: 680px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-top: -890px;
}
.riverH{
	width: 1200px;
	height: 765px;
	margin: 100px auto;	
	margin-left: auto;
	font-family: arial;
	font-size: 2em;
	text-transform: uppercase;	
	color: #DEE1E6;	
}
.riverT{
	width: 1200px;
	height: 400px;
	margin-left: auto;
	font-family: arial;
	font-size: 2em;
	color: #DEE1E6;
	position: relative;
	font-stretch: expanded;
	top: -790px;
}
.ifugaoPic{
	width: 1200px;
	height: 680px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-top: -890px;
}
.ifugaoH{
	width: 1200px;
	height: 765px;
	margin: 100px auto;	
	margin-left: auto;
	font-family: arial;
	font-size: 2em;
	text-transform: uppercase;	
	color: #DEE1E6;	
}
.ifugaoT{
	width: 1200px;
	height: 400px;
	margin-left: auto;
	font-family: arial;
	font-size: 2em;
	color: #DEE1E6;
	position: relative;
	font-stretch: expanded;
	top: -790px;
}
.siargaoPic{
	width: 1200px;
	height: 680px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-top: -890px;
}
.siargaoH{
	width: 1200px;
	height: 765px;
	margin: 100px auto;	
	margin-left: auto;
	font-family: arial;
	font-size: 2em;
	text-transform: uppercase;	
	color: #DEE1E6;	
}
.siargaoT{
	width: 1200px;
	height: 400px;
	margin-left: auto;
	font-family: arial;
	font-size: 2em;
	color: #DEE1E6;
	position: relative;
	font-stretch: expanded;
	top: -790px;
}
.boracayPic{
	width: 1200px;
	height: 680px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-top: -890px;
}
.boracayH{
	width: 1200px;
	height: 765px;
	margin: 100px auto;	
	margin-left: auto;
	font-family: arial;
	font-size: 2em;
	text-transform: uppercase;	
	color: #DEE1E6;	
}
.boracayT{
	width: 1200px;
	height: 400px;
	margin-left: auto;
	font-family: arial;
	font-size: 2em;
	color: #DEE1E6;
	position: relative;
	font-stretch: expanded;
	top: -790px;
}
